/* FADE IN ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
